body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header, section, footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

#link-form, #links-list {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}
